[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	email = mvt0408@gmail.com
	name = Matthew Troughton
[core]
	autocrlf = input
	excludesfile = /Users/matthewtroughton/.gitignore_global
